{% extends "main/base.html" %}
{% load static %}

{% block css-content %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">
{% endblock %}

{% block js-head %}
<!-- html内でtex形式の数式を使うため -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endblock %}

{% block main-content %}
<h1>ポートフォリオ</h1>
<div class="contents">
<div class="portfolio">

    <!-- 目次 -->
    <div id="contents-table"></div>

    <!-- chapter0 -->
    <div class="chapter">
        <h2 id="start">はじめに</h2>
        <p>作成したWebアプリケーションについて、ポートフォリオとして紹介いたします。</p>
        <div class="img">
            <img src="{% static 'portfolio/imgs/chap0/0_1.png' %}">
            <p>(作成したWebアプリ メイン画面)</p>
        </div>
        <p>おもな使用技術は、言語/フレームワークはpython/Django、本番環境はAWS(EC2,Amazon SES等)になります。</p>
        <p>フレームワークとしてDjangoを選んだ理由は、pythonで学習させた機械学習モデルを容易に利用するためです。</p>
    </div>

    <!-- chapter1 -->
    <div class="chapter">
        <h2 id="profile">所属</h2>
        <p>東北大学 大学院 工学研究科ロボティクス専攻 修士1年</p>
        <p>pythonを用いた機械学習とロボット制御について研究中です。</p>
    </div>

    <!-- chapter2 -->
    <div class="chapter">
        <h2 id="about-app">作成したアプリについて</h2>
        <p>まず作成したアプリについて以下の順で説明します。</p>
        <ol>
            <li><a href="/portfolio/#web-app-summary">Webアプリ概要</a></li>
            <li><a href="/portfolio/#web-app-feature">アプリの特徴</a></li>
            <li><a href="/portfolio/#web-app-feature-list">アプリの機能一覧</a></li>
        </ol>

        <div class="sub-chapter">
            <h3 id="web-app-summary">Webアプリ概要</h3>

            <div class="text-block">
                <p>選択した仮想通貨のチャートと<b>似ている過去チャートを探し出すWebアプリケーション</b>です。</p>
                <p>学習させた<b>AIモデルが似ているチャートを見つけだし</b>、ブラウザ上に表示します。</p>
                <p>似ているチャートを見つけ出すので「Similar Chart Seacher」という名前にしました。</p>
            </div>

            <div class="text-block">
                <p>私は学部生の頃から仮想通貨に興味があり、pythonを用いたデータ分析やスクレイピングを行っていました。</p>
                <p>その際に、現在のチャートと似ている過去のチャートはないだろうか？</p>
                <p>と思ったのがきっかけで、今回こちらのWebアプリを製作しました。</p>
            </div>

            <div class="text-block">
                <p>仮想通貨の価格は、相対的な時系列の値動きによる影響が大きいと考えています。</p>
                <p>過去の似た値動きを調べることができれば、今後の値動きをある程度予測することができるはずです。</p>
                <p>しかし、私の調べた限りでは、<b>仮想通貨における過去とチャートと今のチャートの類似度が簡単にわかるWebアプリは見当たりません</b>でした。</p>
                <p>また、私と同じ事を感じつつも、容易に利用できるアプリがないために困っている人がいるのではないかとも考えました。</p>
                <p>そこで、<b>この機能を実装し、困りごとを解決したい</b>と思いアプリを製作しました。</p>
            </div>

            <div class="text-block">
                <p>Webアプリ上部のナビゲーションバーから操作して頂けますと幸いです。</p>
                <p>以下がサインイン用のテストアカウントになります。ご自由に操作していただければと思います。</p>
                <table class="table">
                    <tr>
                        <th class="col-md-6 text-center">メールアドレス</th><th class="col-md-6  text-center">パスワード</th>
                    </tr>
                    <tr>
                        <td class="col-md-6  text-center">similar.chart.test.user@gmail.com</td><td class="col-md-6  text-center">TestUser1234</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="sub-chapter">
            <h3 id="web-app-feature">アプリの特徴</h3>

            <div class="sub-sub-chapter">
                <h4>チャート分析</h4>
                <p>こちらが<b>Webアプリのメイン機能</b>になります。</p>
                <p>取引所・通貨ペア・日付を選択肢、ターゲットになるチャート情報を入力します。</p>
                <p>入力が完了すると、学習済みの<b>AIモデルが似ている過去チャートを見つけ出し、ランキングとして表示</b>します。</p>
                <p>また、<b>過去チャートがこの先にどのように値動きしたのか</b>も表示されるため、今後の値動き予測の手助けになります。</p>
                <div class="img">
                    <img src="{% static 'portfolio/imgs/chap2/subchap2/sub-sub-1-1.png' %}">
                    <p>(検索結果の表示)</p>
                </div>
                <p>ランキングに上がった過去チャートについて、個別に値動きを確認することも可能です。</p>
                <div class="img">
                    <img src="{% static 'portfolio/imgs/chap2/subchap2/sub-sub-1-2.png' %}">
                    <p>(ランキングに上がった過去チャートを個別に確認)</p>
                </div>
            </div>

            <div class="sub-sub-chapter">
                <h4>トレード練習</h4>
                <p><b>分析結果を利用してトレードの練習を行うこと可能</b>です。</p>
                <p>CryptoWatch (複数の取引所の情報を一括に扱っているサイト) のAPIを用いて、
                    <b>リアルタイムで仮想通貨の売値と買値を取得</b>しています。</p>
                <div class="img">
                    <img src="{% static 'portfolio/imgs/chap2/subchap2/sub-sub-2-1.png' %}">
                    <p>(仮想的なトレード)</p>
                </div>
                <p>分析だけでなく、結果を利用した<b>行動もしてもらいたいと思い実装</b>しました。</p>
            </div>

            <div class="sub-sub-chapter">
                <h4>総資産の確認</h4>
                <p>トレード練習における資産推移の確認ができます。</p>
                <div class="img">
                    <img src="{% static 'portfolio/imgs/chap2/subchap2/sub-sub-3-1.png' %}">
                    <p>(資産推移グラフ)</p>
                </div>
                <p>ユーザーの時系列情報が可視化されるため、継続的な利用を促すことが可能です。</p>
            </div>
        </div>

        <div class="sub-chapter">
            <h3 id="web-app-feature-list">アプリ機能一覧</h3>

            <div class="sub-sub-chapter">
                <h4>主な機能</h4>
                <table class="table">
                    <tr>
                        <th class="col-md-6 text-center">機能</th><th class="col-md-6  text-center">補足</th>
                    </tr>
                    <tr>
                        <td class="col-md-6  text-center">チャート分析</td>
                        <td class="col-md-6  text-left">
                            選択したチャートと似たチャートを分析します<br>
                            以下の設定が行えます
                            <ul class="text-left">
                                <li>取引所</li>
                                <li>通貨ペア</li>
                                <li>日付</li>
                                <li>過去何日分のチャートを見るか(参照日数)</li>
                                <li>先何日後まで確認するか(予測日数)</li>
                                <li>類似チャート数</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-6 text-center">トレード練習</td>
                        <td class="col-md-6  text-left">
                            現在の仮想通貨の売買値が確認できます<br>
                            以下の設定が行えます
                            <ul>
                                <li>取引所</li>
                                <li>通貨ペア</li>
                                <li>売買の選択</li>
                                <li>売買数量の指定</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-6 text-center">仮想的な入出金</td>
                        <td class="col-md-6  text-left">
                            トレード練習で用いるお金の入出金ができます<br>
                            以下の設定が行えます
                            <ul>
                                <li>取引所</li>
                                <li>通貨</li>
                                <li>入出金の選択</li>
                                <li>入出金量の指定</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-6 text-center">総資産の確認</td>
                        <td class="col-md-6  text-left">
                            トレード練習で得た資産の推移を確認します<br>
                            以下の設定が行えます
                            <ul>
                                <li>取引所</li>
                                <li>通貨</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="sub-sub-chapter">
                <h4>認証機能</h4>
                <table class="table">
                    <tr>
                        <th class="col-md-6 text-center">機能</th><th class="col-md-6 text-center">補足</th>
                    </tr>
                    <tr>
                        <td class="col-md-6 text-center">サインアップ・サインイン・サインアウト</td><td class="col-md-6  text-center">---</td>
                    </tr>
                    <tr>
                        <td class="col-md-6 text-center">メールアドレス認証</td><td class="col-md-6  text-center">---</td>
                    </tr>
                    <tr>
                        <td class="col-md-6 text-center">パスワードリセット</td><td class="col-md-6  text-center">---</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- chpater3 -->
    <div class="chapter">
        <h2 id="about-app-tool">アプリに使用した技術について</h2>
        <p>使用した技術について以下の順で説明します。</p>
        <ul>
            <li><a href="/portfolio/#web-app-tool">使用技術</a></li>
            <li><a href="/portfolio/#web-app-db">DB設計</a></li>
            <li><a href="/portfolio/#web-app-model">AIモデル</a></li>
        </ul>

        <!-- chap3.1 -->
        <div class="sub-chapter">
            <h3 id="web-app-tool">使用技術</h3>

            <div class="sub-sub-chapter">
                <h4>フロントエンド</h4>
                <ol>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap 5.0.0</li>
                    <li>JavaScript</li>
                    <li>Chart.js 2.9.3</li>
                </ol>
                <p>全体のデザインはできるだけシンプルになるように気を付けました。</p>
                <p>Chart.jsを用いることで、グラフの描画に動きを加えています。</p>
                <p>また、Chart.jsにおいて最新の3系ではなく2系を使っている理由は、日本語の文献が多かったためです。</p>
            </div>

            <div class="sub-sub-chapter">
                <h4>バックエンド</h4>
                <ol>
                    <li>python</li>
                    <li>Django 4.2</li>
                    <li>pytorch 2.0.0</li>
                    <li>PostgreSQL 14</li>
                </ol>
                <p>言語とフレームワークとしてpython/Djangoを選んだ理由は、pythonでAIモデルを学習させ、スムーズにWebアプリに組み込むためです。</p>
                <p>機械学習ライブラリとしてpytorchを使用しています。研究でも使用しており、使い慣れているためこちらのライブラリを使用しました。</p>
                <p>仮想通貨の価格データは大きくなることが予想されるため、Djangoに標準で搭載されているSQLite3ではなく、PostgreSQLをデータベースとして使用しました。</p>
            </div>

            <div class="sub-sub-chapter">
                <h4>インフラ</h4>
                <ol>
                    <li>AWS</li>
                    <li>nginx</li>
                    <li>gunicorn</li>
                </ol>
                <p>クラウドサービスとして30%以上のシェアであり
                    <a href="https://www.publickey1.jp/blog/23/aws30azuregoogle_cloud20224synergy_researchcanalys.html">[参考]</a>
                    広く使われているため、AWSを本番環境に選択しました。</p>
                <p>Djangoを用いたAPサーバーとWebサーバーを容易に繋ぐことができるため、nginxとgunicornを使用しました。</p>
            </div>

            <div class="sub-sub-chapter">
                <h4>API</h4>
                <ol>
                    <li>CryptoWatch</li>
                </ol>
                <p>仮想通貨の価格データの取得にCryptoWatch<a href="https://docs.cryptowat.ch/rest-api/">[公式サイト]</a>のAPIを利用しています。</p>
                <p>こちらのAPIを利用したのは、複数の取引所のデータを一括で取得できるためです。</p>
            </div>
        </div>

        <!-- chap3.2 -->
        <div class="sub-chapter">
            <h3 id="web-app-db">DB設計</h3>

            <div class="sub-sub-chapter">
                <h4>ER図</h4>
                <p>データベースのER図は以下の通りです。</p>
                <p>緑がユーザー関連、青が仮想通貨の取引所関連となっています。</p>
                <div class="img">
                    <img src="{% static 'portfolio/imgs/chap3/subchap2/similar-chart-ER.drawio.png' %}" style="--img-scale:70%">
                </div>
            </div>

            <div class="sub-sub-chapter">
                <h4>各テーブルについて</h4>
                <p>以下は各テーブルの簡単な説明です。</p>
                <table class="table">
                    <tr>
                        <th class="col-md-6 text-center">テーブル名</th><th class="col-md-6 text-center">説明</th>
                    </tr>
                    <tr>
                        <td class="col-md-6 text-center">Market</td><td class="col-md-6  text-center">取り扱う仮想通貨の取引所</td>
                    </tr>
                    <tr>
                        <td class="col-md-6 text-center">Pair</td><td class="col-md-6  text-center">取引所が扱う通貨ペア</td>
                    </tr>
                    <tr>
                        <td class="col-md-6 text-center">BidAsk</td><td class="col-md-6  text-center">現在の各通貨ペアの売買値</td>
                    </tr>
                    <tr>
                        <td class="col-md-6 text-center">OHLC</td><td class="col-md-6  text-center">各通貨ペアにおける過去の価格情報</td>
                    </tr>
                    <tr>
                        <td class="col-md-6 text-center">Currency</td><td class="col-md-6  text-center">通貨名と通貨記号</td>
                    </tr>
                    <tr>
                        <td class="col-md-6 text-center">CustomUser</td><td class="col-md-6  text-center">ユーザー情報</td>
                    </tr>
                    <tr>
                        <td class="col-md-6 text-center">UserNetAsset</td><td class="col-md-6  text-center">ユーザー資産の時系列情報</td>
                    </tr>
                    <tr>
                        <td class="col-md-6 text-center">UserCoin</td><td class="col-md-6  text-center">ある日付においてユーザーが持つ仮想通貨数</td>
                    </tr>
                    <tr>
                        <td class="col-md-6 text-center">UserCurrency</td><td class="col-md-6  text-center">ある日付においてユーザーが持つ通貨量</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- chap3.3 -->
        <div class="sub-chapter">
            <h3 id="web-app-model">AIモデルについて</h3>
            <p>使用したモデルは、リカレントニューラルネットワークを使ったオートエンコーダを使用しました。</p>
            <p>こちらのモデルを使用した理由は、<b>時系列データの特徴量を抽出し比較することで、似たチャートを見つけるため</b>です。</p>

            <div class="sub-sub-chapter">
                <h4>モデルの学習</h4>
                <p>モデル内の処理フローは以下です。</p>
                <ol>
                    <li>1. 仮想通貨の時系列価格データ\(x\)をEncoderモデルで特徴量\(h\)に変換</li>
                    <li>2. 特徴量\(h\)をDecoderモデルとNNに通し,出力\(x'\)を得る</li>
                    <li>3. 元の価格データ\(x\)とDecoder出力\(x'\)の誤差が小さくなるようにパラメータを学習</li>
                </ol>
                <div class="img">
                    <img src="{% static 'portfolio/imgs/chap3/subchap3/AutoEncoder.drawio.png' %}" style="--img-scale: 60%">
                    <p>(AIモデル処理フロー (添え字は時間成分))</p>
                </div>
            </div>

            <div class="sub-sub-chapter">
                <h4>モデルの運用</h4>
                <p>似たチャートを見つける際には以下の手順を行っています。</p>
                <ol>
                    <li>1. ターゲットの時系列データ\(x_{target}\)を学習済みのEncoderに入力し、特徴量\(h_{target}\)を得る</li>
                    <li>2. データベースから学習時に使った時系列データ\(x_{all}\)を全て取り出し、これもEncoderに通して特徴量\(h_{all}\)を得る</li>
                    <li>3. \(h_{target}\)と\(h_{all}\)の平均二乗誤差を計算し、誤差が小さい方から\(N\)個分描画する</li>
                </ol>
            </div>
        </div>
    </div>

    <!-- chapter4 -->
    <div class="chapter">
        <h2 id="about-why">作成理由について</h2>
        <p>次に、ポートフォリオ、Webアプリを作った目的や理由についてです。</p>
        <ul>
            <li><a href="/portfolio/#why-portfolio-made">ポートフォリオを作成した理由</a></li>
            <li><a href="/portfolio/#why-app-made">このようなWebアプリを作成した理由</a></li>
        </ul>

        <!-- chap4.1 -->
        <div class="sub-chapter">
            <h3 id="why-portfolio-made">ポートフォリオを作成した理由</h3>

            <div class="sub-sub-chapter">
                <h4>使用した技術を自分の中で体系化するため</h4>
                <p>行ったことをテキスト化し<b>アウトプットすることで使用した技術を体系化するためです。</b></p>
                <p>他の方に理解してもらえるように文字におこすことは、学習する上で最も重要な手段の1つと考えています。</p>
                <p>私は学部時代に、強化学習を用いたノイズに頑健なロボット制御について研究していました。</p>
                <p>なぜノイズに強いロボットが必要なのかや、どのようなモデルを用いて強化学習を行うことで目的を達成したのか等を、私とは専門が異なる方にも伝わるように卒業論文としてまとめることで、<b>使った知識や技術だけでなく周辺知識までも自分の中で体系化されたと感じました。</b></p>
                <p>そのため、こちらのWebアプリも<b>作っただけで終わりにせず、使用した技術や製作背景をアウトプットしまとめることで次に活かしたい</b>と考えました。</p>
            </div>

        </div>

        <!-- chap4.2 -->
        <div class="sub-chapter">
            <h3 id="why-app-made">こちらのWebアプリを作成した理由</h3>

            <div class="sub-sub-chapter">
                <h4>実際に手を動かして開発技術を学ぶため</h4>
                <p>Webアプリを実際に作成し、<b>教科書を読むだけでは気づかない開発技術を学ぶため</b>です。</p>
                <p>基本情報技術者試験の資格を取得した際に、システム開発の流れやER図、暗号化手法等を知識として勉強しました。</p>
                <p>しかし、知識だけでは開発はできないと感じ、Webアプリの製作を開始しました。</p>
                <p><b>製作を通して気づいたことの一例として要件定義の重要性</b>が挙げられます。</p>
                <p>初期段階では、サインイン機能やトレード練習機能について考えていませんでした。</p>
                <p>途中になって、これらの機能の必要性を感じ、急遽DBやプログラムを変更しなければなりませんでした。</p>
                <p>DBを変更する時間がかかったり、変更したことでバグが発生したりと、本来の開発とは関係のない部分で多くの時間を取られてしまいました。</p>
                <p>こうした<b>不十分な要件定義が非効率な作業を発生させることを、教科書から体感することはできなかった</b>と思います。</p>
                <p>要件定義は一例であり、書籍に載っていないことを調べる大切さや、クラウドサービスとのやり取り(Amazon SESのサンドボックスが解除されず何度もやり取りを行いました...)等、<b>開発しなければ得られなかった経験を得ることができました。</b></p>
            </div>

            <div class="sub-sub-chapter">
                <h4>AI技術を社会環境で活用したいと考えたため</h4>
                <p>研究分野だけでなく、<b>社会環境でAIを活用し有益なサービスを作りたいと考えたため</b>です。</p>
                <p>私は研究において、スパイキングニューラルネットワーク (以下SNN)という少し特殊なニューラルネットワークを使用して、画像の特徴抽出やロボット制御を行っています。</p>
                <p>SNNは専用のプロセッサを用いなければ効力を発揮しづらく、また、その専用プロセッサは一般に入手することはできません。</p>
                <p>そのため、私の研究を実社会で運用し活躍させることは難しいです。</p>
                <!-- <p><b>AIの有用性は</b>研究を通して、また、ChatGPT等のAIサービスを通して<b>如実に感じています。</b></p> -->
                <p>しかし、<b>AIの有用性は研究を通して常々感じており</b>、ChatGPT等のAIサービスを<b>享受するだけでなく、自ら提供することで誰かの役に立ちたい</b>とも考えていました。</p>
                <p>そこで、研究とは直接関係なくとも、大学での研究活動で培った<b>AI技術をWebアプリに搭載し、困っている人を手助けできるアプリの開発を目指しました。</b></p>
            </div>
        </div>
    </div>

    <div class="chapter">
        <h2 id="final">最後に</h2>
        <div class="text-block">
            <p>こちらのWebアプリ製作を通して、<b>世の中のWebサービスは非常に多くの技術が用いられていると痛感しました。</b></p>
            <p>研究では主にpythonとシミュレーション環境であるmujocoの2つしか使っていません。</p>
            <p>一方、Webアプリの製作には、フレームワークのDjangoから始まり、フロントエンド言語、クラウドサービスのAWSなど非常に多くの言語やソフトウェアの理解が必要でした。</p>
            <p>pythonからjavascriptへのデータの渡し方や、ローカル環境から本番環境へのデプロイ方法など、手持ちの書籍ではカバーしきれない部分も多く、<b>「一人で完成できるのか？」と不安を感じることもありました。</b></p>
            <p>しかし、追加の書籍やドキュメントを読んで理解し実行することで、エラーを解消できた際には、<b>着実な進歩と達成感を感じることができました。</b></p>
            <p>まだ就活生の身ではありますが、<b>社会でも、１つ１つ勉強し成長を続けることで、人の役に立つサービスを提供する一員となりたいと考えています。</b></p>
            <p>最後までお読みいただき、大変ありがとうございました。</p>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block js-content %}
<script src="{% static 'portfolio/js/script.js' %}"></script>
<script type="text/javascript">
    make_contents_table();
</script>
{% endblock %}