{% extends "main/base.html" %}
{%load static%}

{% block css-content %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
{% endblock %}

{% block main-content %}
<h1>総資産</h1>
<div class="contents">

    <div class="document">
        <p>トレード練習における資産推移を表示します。</p>
        <p>取引所を選択してご確認ください。</p>
    </div>

    <form action="{% url 'home' %}" method="post" name="home_form">
        <div class="similar-chart-block">
            <h3>取引所選択</h3>
            <div class="container">
                {% csrf_token %}
                {% for field in market_currency_form %}
                <div class="row">
                    <div class="col-sm-3">{{field.label_tag}}</div>
                    <div class="col-sm-9">{{field}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </form>

    <div class="similar-chart-block">
        <h3>残高</h3>
        <canvas id="pair-bar" width="1000" height="130">No Data...</canvas>
    </div>

    <div class="similar-chart-block">
        <h3>資産推移</h3>
        <div class="net-asset-chart">
            <canvas id="user-chart" width="300" height="200">No Data...</canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block js-content %}
<script type="text/javascript">
    var datasets=[];

    var currency=parseFloat('{{user_currency.price}}'); //通貨(日本円とかUSドルとか)の残金
    var name_currency='{{user_currency.currency.currency}}';
    var symbol_currency='{{user_currency.currency.symbol}}'
    var label_currency=name_currency+" "+symbol_currency+'{{user_currency.price}}';

    var user_coins=JSON.parse('{{user_coins|safe}}');
    var chart_labels=Object.values(JSON.parse('{{chart_dates|safe}}')[0]);
    var user_chart_values=Object.values(JSON.parse('{{user_chart|safe}}'));
</script>
<script src="{% static 'home/js/script.js' %}"></script>
{% endblock %}