{% extends "main/base.html" %}
{%load static%}

{% block css-content %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block main-content %}
<h1>総資産</h1>
<div class="contents">
    <form action="{% url 'home' %}" method="post" name="home_form">
        <table>
            {% csrf_token %}
            {{market_currency_form.as_table}}
        </table>
    </form>
    <h2>残高</h2>
    <canvas id="pair-bar" width="1000" height="130">No Data...</canvas>
    <h2>資産推移</h2>
    <canvas id="user-chart">No Data...</canvas>
</div>
{% endblock %}

{% block js-content %}
<script type="text/javascript">
    var datasets=[];

    var currency=parseFloat('{{user_currency.price}}'); //通貨(日本円とかUSドルとか)の残金
    var name_currency='{{user_currency.currency.currency}}';
    var symbol_currency='{{user_currency.currency.symbol}}'
    var label_currency=name_currency+" "+symbol_currency+'{{user_currency.price}}';

    var user_coins=JSON.parse('{{user_coins|safe}}');
    var chart_labels=Object.values(JSON.parse('{{chart_dates|safe}}')[0]);
    var user_chart_values=Object.values(JSON.parse('{{user_chart|safe}}'));
</script>
<script src="{% static 'home/js/script.js' %}"></script>
{% endblock %}