{% extends 'main/base.html' %}
{% load static %}

{% block css-content %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}">
{% endblock %}
{% block main-content %}
<h1>サインイン</h1>
<p>アカウントをまだお持ちでありませんか？ お持ちでないの場合は<a href="{{ signup_url }}">こちら</a>からサインアップしてください</p>

<div class="contents">
    <form class="login" method="POST" action="{% url 'account_login' %}">
        <div class="similar-chart-account-form">
            <div class="container">
                {% csrf_token %}

                <!-- エラー表示 -->
                {% if form.non_field_errors %}
                <div class="row">
                    {{form.non_field_errors}}
                </div>
                {% endif %}

                {% for field in form %}

                <!-- エラー表示 -->
                {% if field.errors %}
                    {% for e in field.errors %}
                    <div class="row">!! {{e}}</div>
                    {% endfor %}
                {% endif %}

                <div class="row">
                    <div class="col-sm-4">{{field.label_tag}}</div>
                    <div class="col-sm-8">{{field}}</div>
                </div>

                {% endfor %}
                
                <div class="row">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit">サインイン</button>
                    </div>
                </div>
                <div class="row">
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">パスワードをお忘れですか？</a>
                </div>
            </div>
        </div>
    </form>
</div> 
{% endblock %}
