{% extends 'main/base.html' %}
{% load i18n %}
{% load account %}
{% load static %}

{% block css-content %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block main-content %}
<h1>パスワード再設定</h1>
<div class="contents">
    
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>パスワードをお忘れですか？</p>
    <p>以下に登録時のメールアドレスをご入力ください。</p>
    <p>パスワード再設定用のurlを送信致します。</p>

    <div class="similar-chart-account-form">
        <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">{{form.email.label_tag}}</div>
                    <div class="col-sm-8">{{form.email}}</div>
                </div>

                <div class="row">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit">パスワード再設定</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
