{% extends 'main/base.html' %}
{% load i18n %}
{% load account %}
{% load static %}

{% block css-content %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block main-content %}
<h1>パスワード再設定</h1>
<div class="contents">
    
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>入力されたメールアドレスに再設定用のurlを送信致しました。</p>
    <p>メールが見当たらない場合は迷惑フォルダをご確認ください。</p>
</div>
{% endblock %}
