{% extends 'main/base.html' %}
{% load static %}

{% block css-content %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}">
{% endblock %}
{% block main-content %}
<h1>パスワード変更</h1>

<div class="contents">
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>パスワード再設定用のリンクが有効でありません。</p>
        <p>既に使用された可能性があります。</p>    
        <p><a href="{{passwd_reset_url}}">こちら</a>から再度パスワードの再設定を行ってください。</p>

    {% else %}
    <form class="login" method="POST" action="{{action_url}}">
        <div class="similar-chart-account-form">
            <div class="container">
                {% csrf_token %}

                <!-- エラー表示 -->
                {% if form.non_field_errors %}
                    {% for e in form.non_field_errors %}
                        <div class="row">
                            <div class="warning">{{e}}</div>
                        </div>  
                    {% endfor %}
                {% endif %}
                {% for field in form %}

                <!-- エラー表示 -->
                {% if field.errors %}
                    {% for e in field.errors %}
                    <div class="row">
                        <div class="warning">!! {{e}} !!</div>
                    </div>
                    {% endfor %}
                {% endif %}

                <div class="row">
                    <div class="col-sm-4">{{field.label_tag}}</div>
                    <div class="col-sm-8">{{field}}</div>
                </div>

                {% endfor %}
                
                <div class="row">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" name="action">パスワードの変更</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
</div> 
{% endblock %}
