{% extends "main/base.html" %}
{%load static%}

{% block css-content %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'trade_training/css/style.css' %}">
{% endblock %}

{% block main-content %}
<h1>トレード練習</h1>
<div class="contents">

    {% if error_msg != "" %}
        <div class="document">
            <div class="warning">
                !! {{error_msg}} !!
            </div>
        </div>
    {% endif %}

    <div class="document">
        <p>チャートの分析結果を利用してトレードの練習ができます。</p>
        <p>トレード練習で使うお金は<a href="{% url 'deposit'%}">こちら</a>から追加してください。</p>
    </div>

    <form action="{% url 'trade' %}" method="post" name="trade_form">

        <div class="similar-chart-block">
            <h3>取引所設定</h3>
            <div class="container">
                {% csrf_token %}
                {% for field in market_pair_form %}
                <div class="row">
                    <div class="col-sm-3">{{field.label_tag}}</div>
                    <div class="col-sm-9">{{field}}</div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="similar-chart-block">
            <h3>残高</h3>
            <canvas id="pair-bar" width="800" height="130">No Data...</canvas>
        </div>

        <div class="similar-chart-block">
            <h3>現在のBID/ASK</h3> 
            <p>({{quote.datetime|date:"Y/m/d H:i"}})</p>
            <div class="flex-quote">
                <div class="quote">
                    <div class="bid">BID<br>(売値)</div>
                    <div>{{user_currency.currency.symbol}}{{quote.bid}}</div>
                </div>
                <div class="quote">
                    <div class="ask">ASK<br>(買値)</div>
                    <div>{{user_currency.currency.symbol}}{{quote.ask}}</div>
                </div>
            </div>
        </div>

        <div class="similar-chart-block">
            <h3>仮想売買</h3>
            <div class="container">
                {% csrf_token %}
                {% for field in trade_form %}
                <div class="row">
                    <div class="col-sm-3">{% if field.is_hidden != True %}{{field.label_tag}}{% endif %}</div>
                    <div class="col-sm-9">{{field}}</div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-primary" id="commit-button">注文</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
{% endblock %}

{% block js-content %}
<script type="text/javascript">
    var crypto_lot='{{user_coin.lot}}'
    var crypto_price=(parseFloat(crypto_lot)*parseFloat('{{quote.bid}}')).toFixed(2); //今持ってるコインの価値
    var currency=parseFloat('{{user_currency.price}}'); //通貨(日本円とかUSドルとか)の残金
    var pair_name='{{user_coin.pair.pair}}'.toUpperCase();

    var name_currency='{{user_currency.currency.currency}}';
    var symbol_currency='{{user_currency.currency.symbol}}'
    var label_currency=name_currency+" "+symbol_currency+parseFloat('{{user_currency.price}}').toFixed(2);

    var name_crypto=pair_name.replace(name_currency,"");
    var label_crypto=name_crypto+" "+parseFloat(crypto_lot).toFixed(4)+" ( "+symbol_currency+String(crypto_price)+" ) ";
</script>
<script src="{% static 'trade_training\js\script.js' %}"></script>
{% endblock %}