{% load static %}

<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Similar Chart</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <!-- chartjs読み込み -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
</head>
<body>
    <!-- Header Start -->
    <header class="site-header">
        <a class="header-title" href="#">Similar Chart</a>
    </header>
    <!-- Header End -->

    <div class="wrapper">
        <h1>チャート分析</h1>
        <div class="container">
            <div class="flex-form">
                <form action="{% url 'index' %}" method="post" name="mainform">
                    {% csrf_token %}
                    {% for field in forms %}
                        {% if field.is_hidden != True %}{{field.label_tag}}{% endif %}
                        {{field}}
                    {% endfor %}
                </form>
            </div>

            <div class="flex-chart">

                <div class="main">
                    <div class="main-canvas">
                        <canvas id="main-canvas" width="300" height="200">No chart...</canvas>
                    </div>
                    <div class="chart-boder-u"></div>
                    <div class="chart-boder-l"></div>
                    <div class="main-canvas">
                        <canvas id="selected-canvas" width="300" height="200">No chart...</canvas>
                    </div>
                </div>

                <div class="side-bar">
                    <p>Similar Ranking</p>
                    {% for canvas_id in similar_canvas_ids %}
                    <div class="similar-chart">
                        <canvas id='{{canvas_id|safe}}' width="300" height="200">No chart...</canvas>
                    </div>
                    {% endfor %}
                </div>

            </div>
        <div>
    </div>

    <script src="{% static 'main/js/script.js' %}"></script>
    <script type="text/javascript">
        var target_chart=JSON.parse('{{chart|safe}}');
        var similar_chart=JSON.parse('{{similar_chart|safe}}');
        var similar_chart_num=Object.keys(similar_chart).length; 
        drawMainChart(target_chart,similar_chart);
        drawSelectedChart(similar_chart);
        drawSimilarChart(similar_chart);
    </script>

</body>
</html>