{% load static %}

<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Similar Chart</title>
    <!-- chartjs読み込み -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
</head>
<body>
    <h1>Similar Chart</h1>
    <table>
        <form action="{% url 'index' %}" method="post" name="mainform">
            {% csrf_token %}
            {{forms.as_table}}
        </form>
    </table>

    <p>{{msg}}</p>

    <canvas id="main-canvas">No chart...</canvas>

    <script src="{% static 'main/js/script.js' %}"></script>
    <script type="text/javascript">
        var chart_data=JSON.parse('{{ chart|safe }}'); //formで選択したチャートデータ
        var main_ctx="main-canvas";
        var main_canvas=false;
        drawChart(main_ctx,main_canvas,chart_data);
    </script>

</body>
</html>