{% load static %}

<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Similar Chart</title>
    <!-- chartjs読み込み -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
</head>
<body>
    <h1>Similar Chart</h1>
    <table>
        <form action="{% url 'index' %}" method="post" name="mainform">
            {% csrf_token %}
            {{forms.as_table}}
        </form>
    </table>

    <canvas id="main-canvas">No chart...</canvas>

    {% for canvas_id in similar_canvas_ids %}
    <canvas id='{{canvas_id|safe}}'>No chart...</canvas>
    {% endfor %}

    <script src="{% static 'main/js/script.js' %}"></script>
    <script type="text/javascript">
        var target_chart=JSON.parse('{{chart|safe}}');
        var similar_chart=JSON.parse('{{similar_chart|safe}}');
        drawMainChart(target_chart,similar_chart);
        drawSimilarChart(similar_chart);
    </script>

</body>
</html>