body{
    background-color: #f5f4f4;
    margin: 0;
    padding: 0;
    color: #666666;
    font-family: 'Noto Serif JP', sans-serif;
    font-weight:lighter;
}


header{
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 0;
    box-shadow: 0 4px 8px -4px rgba(0,0,0,0.25);
    padding: 10px;
    top: 0px;
    z-index: 10;
    position: fixed;
}

nav .header-title{
    padding-left: 30px;
    font-size: x-large;
    color: black;
    /* border-left: 20px solid #666666; */
}

nav{
    display: flex;
}

.navbar-brand:hover{
    border-bottom: 1px solid;
    font-weight: bold;
}

ul{
    display: flex;
    padding-left: 50%;
}

h1{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: double;
    border-color: #666666;
    text-align: left;
}

h3{
    padding-left: 15px;
    padding-top: 5px;
}

.document{
    background-color: white;
    margin: 40px 15px;
    padding: 10px 20px;
    border-radius: 8px;
}

.similar-chart-block{
    background-color: white;
    max-height: fit-content;
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
}

.row{
    padding: 1px 0px;
}

.side-bar p {
    text-align: center;
    width: 80%;
    padding: 5px;
}


.wrapper{
    max-width: 960px;
    margin-top: 75px;
    margin-bottom: -25px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    background-color: 	#f5f4f4;
    top:0;
}
.contents{
    padding-left: 50px;
    padding-right: 50px;
}


.main{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

.side-bar{
    background-color: white;
    border-radius: 8px;
}

@media (min-width:801px){
    .flex-chart{
        display: flex;
        /* display: -webkit-flex; */
        padding-top: 0px;
        width: 100%;
        max-height: 970px;
    }
    .main{
        /* -webkit-flex:3; */
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        width: 75%;

    }
    .side-bar{
        /* -webkit-flex:1; */
        overflow-y: scroll;
        margin: 15px;
        padding-bottom: 15px;
        width: 25%;
    }
    .similar-chart{
        width: 80%;
        padding-left: 5%;
    }
}

@media (max-width:800px){

    .flex-chart{
        display: flex;
        flex-direction: column;
    }
    .side-bar{
        width: 100%;
        margin-top: 30px;
        display: flex;
        overflow-x: scroll;
        max-height: fit-content;
    }

    .similar-chart{
        height: 100%;
        padding: 20px 10px;
        
    }

    .main{
        margin-top: 30px;
    }

    .side-bar p{
        font-size: 0px;
        visibility: hidden;
    }
}

.chart-boder-u{
    width: 108%;
    border-bottom: 15px solid #f5f4f4;
    padding-top: 2%;
    margin-left: -10px;
}

.chart-boder-l{
    width: 108%;
    border-top: 15px solid #f5f4f4;
    padding-bottom: 2%;
    margin-left: -10px;
}

.main-canvas{
    padding: 5px;
}

.similar-chart canvas:hover{
    box-shadow: 0 14px 20px -4px rgba(0,0,0,0.25);
}

.nav-item:hover{
    border-bottom: 1px solid;
    font-weight: bold;
}