body{
    background-color: #ECECEC;
    margin: 0;
    padding: 0;
    color: #666666;
    font-family: 'Noto Serif JP', sans-serif;
    font-weight:lighter;
}


header{
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 0;
    box-shadow: 0 4px 8px -4px rgba(0,0,0,0.25);
    padding: 10px;
    top: 0px;
    z-index: 10;
    position: fixed;
}

nav .header-title{
    padding-left: 30px;
    font-size: x-large;
    color: black;
    /* border-left: 20px solid #666666; */
}

nav{
    display: flex;
}

.navbar-brand:hover{
    border-bottom: 1px solid;
    font-weight: bold;
}

ul{
    display: flex;
    padding-left: 50%;
}

h1{
    padding-left: 50px;
    padding-top: 10px;
    transform:scaleY(0.95);
    border-bottom: solid;
    border-color: #666666;
}

h3{
    padding-left: 15px;
    padding-top: 5px;
}

.document{
    background-color: white;
    margin: 30px 15px;
    padding: 10px 20px;
    border-radius: 8px;
}

.analysis-form{
    background-color: white;
    max-height: fit-content;
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
}

.row{
    padding: 1px 0px;
}

.side-bar p {
    text-align: center;
    width: 80%;
    border-bottom: 1px solid #666666;
    padding: 5px;
}


.wrapper{
    max-width: 960px;
    margin-top: 75px;
    margin-bottom: -25px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    background-color: 	#ECECEC;
    top:0;
}
.contents{
    padding-left: 50px;
    padding-right: 50px;
}


.main{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

.side-bar{
    background-color: white;
    border-radius: 8px;
}

@media screen and (min-width:801px){
    .flex-chart{
        display: flex;
        display: -webkit-flex;
        padding-top: 0px;
    }
    .main{
        -webkit-flex:3;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;

    }
    .side-bar{
        -webkit-flex:1;
        overflow-y: scroll;
        margin: 15px;
        max-width: 240px;
        padding-bottom: 15px;
    }
    .similar-chart{
        width: 80%;
        padding-left: 5%;
    }
}

.chart-boder-u{
    width: 105%;
    border-bottom: 15px solid #ECECEC;
    padding-top: 2%;
    margin-left: -10px;
}

.chart-boder-l{
    width: 105%;
    border-top: 15px solid #ECECEC;
    padding-bottom: 2%;
    margin-left: -10px;
}

.main-canvas{
    padding: 5px;
}

.similar-chart canvas:hover{
    box-shadow: 0 14px 20px -4px rgba(0,0,0,0.25);
}

.nav-item:hover{
    border-bottom: 1px solid;
    font-weight: bold;
}